<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body id="samples">

    {{>menu}}

    <div id="content" class="ui padded grid relaxed">
      <div id="doc" class="column eight wide">
        <div class="doc-overview">
          <h2 class="ui dividing header" data-se="overview-doc-header">
            Tokens
          </h2>
          <p>Hello, {{userinfo.name}}. Below is the information in your access token and id token.
          </p>
          <p>This route is protected with the <code>oidc.ensureAuthenticated()</code> middleware, which will ensure that this page cannot be accessed until you have authenticated.</p>
        </div>
        <table class="ui table compact collapsing">
          <thead>
            <tr>
              <th>TokenSet Key</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {{#attributes}}
              <tr>
                <td>{{0}}</td>
                <td id="claim-{{0}}">{{1}}</td>
              </tr>
            {{/attributes}}
          </tbody>
        </table>
        <p>{{test}}
          </p>
             <table class="ui table compact collapsing">
          <thead>
            <tr>
              <th>ID Token Claims</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {{#idclaims}}
              <tr>
                <td>{{0}}</td>
                <td id="claim-{{0}}">{{1}}</td>
              </tr>
            {{/idclaims}}
          </tbody>
        </table>
            <table class="ui table compact collapsing">
          <thead>
            <tr>
              <th>Access Token Claims</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {{#atclaims}}
              <tr>
                <td>{{0}}</td>
                <td id="claim-{{0}}">{{1}}</td>
              </tr>
            {{/atclaims}}
          </tbody>
        </table>
      </div>

      {{>server-config}}

    </div>
  </body>
</html>
